<p>parent works!</p>

<p appColor="yellow">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. In repudiandae
  dolores, dolorum rerum esse velit asperiores. Est nostrum id odio error
  repellendus debitis autem. Aperiam veritatis corrupti nobis voluptas fuga.
</p>
<p appColor="blue">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. In repudiandae
  dolores, dolorum rerum esse velit asperiores. Est nostrum id odio error
  repellendus debitis autem. Aperiam veritatis corrupti nobis voluptas fuga.
</p>

<hr />

<div *ngIf="!!obj as asd">
  <p>obj: {{ obj | json }}</p>
  <p>asd: {{ asd | json }}</p>
</div>

<div>
  {{ arr | json }}
</div>
<div>
  {{ arr | json }}
</div>

<hr />
<app-mavi></app-mavi>
