<p>
  <a routerLink="/">Home</a>
  <a routerLink="parent">parent</a>
  <a routerLink="server-call">server-call</a>
  <a routerLink="view-child">view-child</a>
  <a routerLink="jesse">jesse</a>
  <a routerLink="jesse/2">jesse/2</a>
  <a routerLink="raynor">raynor</a>
  <a routerLink="on-push-parent">on-push-parent</a>
  <a routerLink="pipe-test">pipe-test</a>
  <a routerLink="lazy-loading/main">lazy-loading/main</a>
  <a routerLink="lazy-loading/main/3">lazy-loading/main/3</a>
</p>

<router-outlet></router-outlet>
